@model Eventures.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<EventureUser> signInManager
@{
    ViewBag.Title = "Login";
    Layout = "_Layout";

    var externalLogins = signInManager.GetExternalAuthenticationSchemesAsync().Result.ToList();
}

<h1 class="text-center" style="font-size: 25px"><strong>Login</strong></h1>
<hr class="hr-eventures-blue" />
<form class="mx-auto" style="width: 40%;" method="post" asp-controller="Accounts" asp-action="Login">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group text-center">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" placeholder="Username...">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group text-center">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Password...">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <hr class="hr-eventures-blue" style="width: 100%" />
    <div class="form-group text-center">
        <div class="checkbox">
            <label asp-for="RememberMe">Remember me?</label>
            <input asp-for="RememberMe" />
        </div>
    </div>
    <hr class="hr-eventures-blue" style="width: 100%" />
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn bg-eventures text-black">Login</button>
    </div>
</form>
<br />
<form asp-controller="Accounts" asp-action="ExternalLogin" method="post" class="mx-auto w-50 text-center font-weight-bold">
    <div>
        <p>
            @foreach (var provider in externalLogins)
            {
                <button type="submit" class="btn eventures-bg-color" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
            }
        </p>
    </div>
</form>