@model Eventures.ViewModels.RegisterViewModel

<h1 class="text-center" style="font-size: 25px"><strong>Register</strong></h1>
<hr class="hr-eventures-blue-2" style="width: 50%" />
<form class="mx-auto w-50" method="post" asp-controller="Accounts" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="form-group text-center col">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" placeholder="Username...">
            <span asp-validation-for="Username"></span>
        </div>
        <div class="form-group text-center col">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" placeholder="Email...">
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group text-center col">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" placeholder="Password...">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group text-center col">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password...">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <hr class="hr-eventures-blue-2" style="width: 100%" />
    <div class="row">
        <div class="form-group text-center col">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" placeholder="FirstName...">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group text-center col">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" placeholder="LastName...">
            <span asp-validation-for="LastName"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group text-center col">
            <label asp-for="UCN"></label>
            <input asp-for="UCN" class="form-control" placeholder="Unique Citizen Number...">
            <span asp-validation-for="UCN"></span>
        </div>
    </div>
    <hr class="hr-eventures-blue-2" style="width: 100%" />
    <div class="button-holder mt-4 d-flex justify-content-center">
        <button type="submit" class="btn bg-eventures text-black">Register</button>
    </div>
</form>
